<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-center">
    <div class="container-fluid">
      <a class="navbar-brand" href="/home">TodoPerUser</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  href="/home">User</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/todos">Todos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>


<div id="todo-content" class="conntainer">
    <h1>Todo List</h1>

    <form class="todo-form">
        <input type="text" name="title" id="title" placeholder="Entrez todo" [(ngModel)]="newTodo">
        <div>
            <button type="submit" class="btn-floating waves-effect waves-light green" (click)="addTodo()"><i
                    class="material-icons">add</i></button>
        </div>
    </form>
    
    <ul class="todo-list">
        <li *ngFor="let todo of todos; index as i">
            <div *ngIf="!todo.done">
                <div>{{todo.name}}</div>
                <div>
                    <button (click)="doTodo(i)" class="btn-floating waves-effect waves-light blue"><i
                            class="material-icons">check</i></button>
                    <button (click)="deleteTodo(i)" class="btn-floating waves-effect waves-light red"><i
                            class="material-icons">delete</i></button>
                </div>
            </div>
        </li>

        <br><br>
        <h5> Todo completed</h5>
        <br>

        <li *ngFor="let todo of todos; index as i">
            <div *ngIf="todo.done">
                <div>{{todo.name}}</div>
                <div>
                    <button (click)="doTodo(i)" class="btn-floating waves-effect waves-light orange"><i
                            class="material-icons">clear</i></button>
                    <button (click)="deleteTodo(i)" class="btn-floating waves-effect waves-light red"><i class="material-icons">delete</i></button>
                </div>
            </div>
        </li>

    </ul>
</div>
