<ul class="nav justify-content-center">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">Todo List</a>
    </li>

</ul>


<div id="content" class="container">
    <div class="row">
        <div class="col">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Todo à faire" aria-label="Recipient's username"
                    aria-describedby="button-addon2" [(ngModel)]="newTodo">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="addTodo()">Entrez
                    Todo</button>
            </div>
            <table class="table">
                <tbody>
                    <tr *ngFor="let todo of todos; index as i">
                        <th scope="row">{{i+1}}</th>
                        <td class="{{(!todo.done)?'done':''}}" (click)="doTodo(i)">{{todo.name}}</td>
                        <td (click)="deleteTodo(i)">x</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
        <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
      </ul>
      <p class="text-center text-muted">© 2021 Company, Inc</p>
    </footer>
  </div>